block variables
  title = tours.name + " - Virtual Tours"

extends ../layout

block content
  article.container(role='main')
    ol.breadcrumb
      li
        a(href='/') Home
      li
        a(href='/tours') Tours
      li.active= tours.name
      li.pull-right
        a(href='/tours/'+tours.id+'/delete') Delete
      li.pull-right
        a(href='/tours/'+tours.id+'/edit') Edit
    h2= tours.name
    h5= tours.desc
